.text-red{
    color : red
}

.text-orangered{
    color : orangered
}

.text-orange{
    color : orange
}

.text-yellow{
    color : yellow
}

.text-yellowgreen{
    color : yellowgreen
}

.text-green{
    color : green
}

.text-pink{
    color : pink
}